.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
    margin: 7rem 0 7rem 0;
    grid-gap:3rem;
    color:white
}

.main h1 {
    font-size: var(--title--font-size);
}

.main p {
    font-family: var(--font-source-serif-4);
    text-align: center;
    font-size: 1.2rem;
    max-width: 1000px;
}


.main button {
    font-family: var(--font-source-serif-4);
    text-align: center;
    padding: 1.5rem 2.5rem;
    border-radius: var(--border-radius);
    border:none;
    font-size: 1.3rem;
    max-width: 25rem;
    cursor: pointer;
}

.space {
    height: 10rem;
    width: 100%;
    background-color: white;
}

@media screen and (max-width:991px) {
    .main {
        padding: 2rem;
    }

    .main h1 {
        font-size: var(--mobileTitle--font-size);
    }

    .main p {
        font-size: var(--mobileText--font-size);
    }
}