.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 2rem 0;
}

.logo {
    margin-left: 5%;
    width: 33%;
}


.cr {
    text-align: right;
    margin-right: 5%;
    width: 33%;
    color: rgb(61, 61, 61);
}


.icons {
    display: flex;
    width:33%;
    justify-content: space-around;
}

.icons svg {
    color:blue
}

@media screen and (max-width:991px) {
    .main {
        flex-direction: column;
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .icons,
    .logo,
    .cr {
        width: 100%;
        text-align: center;
    }
    .cr {
        margin: 2rem 0 3rem;
        font-size: .9rem;
    }
    .icons {
        max-width: 300px; 
    }
    .logo {
        margin: 0;
        margin-bottom: 1rem;
    }
}