.header {
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 4rem;
    align-items: center;
    justify-content: space-around;
    background-color: var(--btn-bg--color);
}

.contact {
    display: flex;
    width: 50%;
    justify-content: center;
    color: var(--color3--color);
}

.contact p {
    margin-left: 0.3rem;
}

.contact span {
    margin-left: 1rem;
}

.ico {
   padding:3px;
}

.lang {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
}
