.nav {
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    justify-content: space-around;
    border-bottom: 1px solid rgb(230, 228, 228);
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 200px;
    width: auto;
}

.linksContainer {
    display: flex;
    align-items: center;

}

.links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.links li, 
.mobileLinks li{
    text-transform: none;
}

.links li a,
.mobileLinks li a{
    padding: 20px 16px 20px 16px;

}

.links li a:focus,
.mobileLinks li a:focus {
    color:#4348ea
}

.links li :hover,
.mobileLinks li:hover {
    border-bottom: 2px solid var(--color1--color);
}

.menubtn {
    display: none;
    width: 56px;
    height: 56px;
    cursor: pointer;
    align-self: center;
    margin-left: 3rem;
}

.svg {
    width: 56px;
    height: 56px;
}

.mobileLinks {
    list-style: none;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
}

.lng:hover {
    border: none
}
.lng div:hover {
    border: none;
}


@media screen and (max-width:991px) {
    .menubtn {
        display: flex;

    }

    .links {
        display: none;
    }

    .mobileLinks {
        position: fixed;
        display: none;
        flex-direction: column;
        align-items: center;
        right: 0;
        top:6rem;
        background-color: rgb(250, 250, 250);
        border-bottom: 1px solid rgb(206, 205, 205);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 0px 5px 5px 0px rgba(92, 92, 92, 0.3);
        transition: opacity 1s allow-discrete;

    }

    .mobileLinks li {
        display: flex;
        color: #28224b;
        text-transform: none;
    }

    .mobileLinks li a {
        text-align: center;
    }

    .logo {
        width: 50%;
        height: auto;

    }

    .nav {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .lng {
        margin-bottom: 1.5rem;
    }
}