.nav {
    display: flex;
    position: fixed;
    top:4rem;
    left: 0;
    width: 100%;
    height: 6rem;
    margin: 0 auto;
    justify-content: space-around;
    border-bottom: 1px solid rgb(230, 228, 228);
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.linksContainer {
    display: flex;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 500;
}

.links li {
    text-transform: none;
}

.links li a {
    padding: 20px 16px 20px 16px;

}

.links li a:focus {
    color:#4348ea
}

.links li :hover {
    border-bottom: 2px solid var(--color1--color);
}

.menubtn {
    display: none;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.svg {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    margin-top: 15px;
}

@media screen and (max-width:991px) {
    .menubtn {
        display: flex;
    }

    .links {
        flex-direction: column;
        align-items: flex-start;
    }

    .links li {
        padding-top: 25px;
        padding-bottom: 25px;
        color: #28224b;
        text-transform: none;
        padding-left: 16px;
        padding-right: 16px;
    }

    .logo {
        width: 100%;
        justify-content: space-between;
    }

    .nav {
        flex-direction: column;
    }

}