.main {
    width: var(--max-width);
}

.main h1 {
    margin: 12.5rem 0 5rem;
    font-size: var(--title--font-size);
    text-align: center;
    color: var(--color1--color);
}


.mp {
    text-align: center;
    margin-bottom:  5rem;
    font-size: 1.2rem;
}

.grid {
    display: grid;
    grid-template-areas:
        'card card'
        'card card';
    grid-gap:2rem
}

.card {
    border: 1px solid black;
    border-radius: var(--border-radius);
    height: 400px;
}

.img {
    height: 60%;
    border-bottom: 1px solid black;
}

.desc {
    padding: 1rem;
}