.main {
    width: 100%;
    margin-top: 10rem ;
}

.main h1 {
    margin: 5rem 0 10rem 0;
    font-size: var(--title--font-size);
    text-align: center;
}

.list {
    display: flex;
    justify-content:  space-around;
}

.list p {
    text-align: center;
}