.main {
    max-width: var(--max-width);
}

.main h1 {
    margin: 12.5rem 0 10rem 0;
    font-size: var(--title--font-size);
    text-align: center;
    color:var(--color1--color)
}

.list {
    display: flex;
    justify-content:  space-around;
}

.list p {
    text-align: center;
    font-family: var(--font-source-serif-4);

}

.list div {
    display: flex;
    flex-direction: column;
    grid-gap:0.5rem
}