:root {
  --max-width: 1300px;
  --border-radius: 12px;
  --title--font-size: 4rem;
  --color1--color: #f14618;
  --color2--color: #e30d9c;
  --color3--color: white;
  --btn-bg--color:#e30d9c;
  --bg1--color:white;
  --bg2--color:#f4f5f5;
  --mobileTitle--font-size:2rem;
  --mobileText--font-size:1rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: left;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-roboto);

}

a {
  color: inherit;
  text-decoration: none;
}

.wrap {
  display: flex;
  justify-content: center;
  background-color: var(--bg1--color);
  background-repeat: no-repeat;
  background-position: right;
  scroll-margin-top: 5rem;
}

.bg1 {
  background-image: url('/heroshape.svg');
  background-size: cover;
}

.bg2 {
  background-image: url('/bgshape.svg');
  background-size:cover;
}

.bg3 {
}

.bg4 {
  background-image: url('/bgshape.svg');
  background-size:cover;
}

.bg5 {
  background-image: url('/contactBg.jpg');
  background-size:cover;
}

.carousel {
  margin: 0 10%;
  display: none;
}
.sliderTray___-vHFQ {
  display: flex!important;
  grid-gap:10px
}

@media screen and (max-width:550px) {
  .carousel {
    display: block;
  }
}